@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* shared style */

.text-primary{
    color: #FD6E0A;
}
.btn-primary {
    background: #FD6E0A;
    border: none;
    padding: 17px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 19px;
}
.secondery-bg{
    background-color: #FFF8F3;
}
.section-description{
    color: #757575;
    font-size: 20px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
/* header-style  */
header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 92px , 750px;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 150px ;
    padding-top: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner style  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 60px 30px 0 150px;
}
.banner-content{
    width: 590px;
    margin: 98px 0;
}
.banner-hi{
    font-size: 35px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 75px;
}
p.banner-description {
    color: #757575;
    font-size: 18px;
    margin: 50px 0;
}
.banner-pic{
    width: 490px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style  */
.about{
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
    margin: 130px 0;
}
.item-description{
    font-weight: 600;
    font-size: 20px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

/* skill-styles  */
.skill-container{
    display: flex;
    gap: 30px;
    margin: 50px 0;
}
.skill-box h4 {
    font-size: 20px;
    margin: 20px 0;
}
.skill-box p {
    color: #757575;
    line-height: 1.9;
}
.skill-box {
    box-shadow: 0 6px 50px 0 #99999945;
    padding: 30px;
}

/* resume styles  */
.resume-container {
    display: flex;
    gap: 30px;
}
h4.education-degree , .experiance-degree{
    font-size: 25px;
    color: #474747;
    margin: 30px 0 15px 0;
}
p.education-institute, .experiance-institute {
    color: #757575;
    font-size: 19px;
    font-weight: 500;
}
p.education-description, .experiance-description {
    color: #757575;
    margin: 16px 0;
    line-height: 1.6;
}
h4.education-title , .experiance-title{
    color: #474747;
    font-size: 30px;
}
h3.resume-title {
    margin: 125px 0 60px 0;
}
.resume-btn{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.hide{
    display: none;
}

/* Responsive Design  */
@media screen and (max-width:570px) {
    .skill-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
        padding: 20px;
    }
    .about{
        padding: 20px;
    }
    .about-items{
        flex-direction: column;
        gap: 40px
    }
    .banner{
        flex-direction: column-reverse;
        margin: 10px;
    }
    .banner-content{
        width: 100%;
        margin: 30px 0;
    }
    .banner-title{
        font-size: 40px;
    }
    .banner-hi{
        font-size: 25px;
    }
    .banner-pic {
        width: 90%;
        margin: 0 auto;
    }
    nav{
        margin: 0px 12px;
        padding-top: 20px;
    }
    header{
        background: none;
    }
    nav ul li{
        margin-left: 22px;
    }
    nav ul li a{
        font-size: 18px;
    }
    .nav-title {
        font-size: 40px;
    }
    p.banner-description {
        margin: 40px 0;
    }
    .btn-primary{
        padding: 14px 28px;
    }
    button#hire-btn {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 10px;
    }
}